<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-route.js"></script>
<body>

<div ng-app="catapi">
  <div ng-controller="IndexCtrl">
    <img ng-src="data:image/JPEG;base64,{{catImage}}">
    <button ng-click="getCat()">Get a cat !!</button>
    <input name="catId" ng-model="catId"/>
  </div>
</div>

<script src="app/app.js"></script>
<script src="app/controller/indexCtrl.js"></script>

</body>
</html>
